.popup {
    /*позиционирую по центру экрана элемент(модальное окно), которое будет внутри блока*/
    /*display: flex; перенесла в popup_opened.css, по заданию 
    через добавление/убирание этого модификатора появляется модальное окно*/
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     
    /*позиционирую элементы внутри окна*/
    justify-content: center;
    align-items: center;

    /*добавляю полупрозрачный фон (затемнение экрана)*/
    background-color: rgba(0, 0, 0, 0.5);

    /*изначально попап не виден, далее настраиваю плавное появление из прозрачности (когда появится класс popup_opened)*/
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    display: flex;
}

