.popup {
    /*изначально попап не виден*/
    display: none;

    /*позиционирую по центру элемент(модальное окно), которое будет внутри блока*/
    /*display: flex; перенесла в popup_opened.css, по заданию 
    через добавление/убирание этого модификатора появляется модальное окно*/
    justify-content: center;
    align-items: center;

    /*добавляю полупрозрачный фон (затемнение экрана)*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100%;
    /*благодаря min-height:100% блок «затемнение» обрел минимальную 
    высоту в 100% экрана*/

    /*фиксирую затемнение*/
    position:fixed;
    top: 0;
    left: 0;
}