.element__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    color: #000;
    margin: 25px 0 31px 21px;

    /*если название будет слишком длинное*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  
}