.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
    
    width: calc(100% - 2*200px);
    margin: 0 auto;

    /*overflow: hidden;*/

    list-style-type: none;
    padding: 0;
}