.profile__info {
    grid-column-start: 2;
    display: grid;
    grid-template-areas: 
    "name edit"
    "description description";

    gap: 16px 18px;

    justify-items: start;
    align-items: center;

    margin: 0 0 0 30px;
    max-width: 336px;
}

@media screen and (max-width: 320px) {
    .profile__info {
        justify-items: center;
        margin: 0 auto;
        gap: 14px 10px;
    }
}