/*.footer {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 2*200px);
    margin: 66px auto 60px;
    
}

@media screen and (max-width: 320px) {
    .footer {   
        width: calc(100% - 2*19px);
        margin: 48px auto 36px;
    }
}*/

.footer {
    width: calc(100% - 2*200px);
    max-width: 880px;
    margin: 66px auto 60px;

}

@media screen and (max-width: 320px) {
    .footer {   
        width: calc(100% - 2*19px);
        margin: 48px auto 36px;
    }
}