.element {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 361px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;

    position: relative;
    
    /*чтобы элементы не выходили за пределы родителя*/
    overflow: hidden;

}

@media screen and (max-width: 767px) {
    .element {   
        max-width: 282px;
    }
}